header {
    display: flex;
    flex-direction: column;
    background-color: $bg-light;
    color: $textcolor-primary;
    font-family: $font-primary;
    max-width: 100%;

    #banner {
        display: flex;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 0.5rem;
        width: 100%;

        a {
            display: inline-block;
            color: $textcolor-primary;
            text-decoration: underline;
            font-size: 2rem;
            margin: 0 1rem;

            &:hover {
                color: darken($textcolor-primary, 10%);
            }
        }
    }

    #buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
}