header {
    display: flex;
    flex-direction: column;
    background-color: $bg-light;
    color: $textcolor-primary;
    font-family: $font-primary;
    max-width: 100%;

    #banner {
        display: flex;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2rem;

        a {
            color: $textcolor-primary;
            text-decoration: underline;
            font-size: 3rem;
            margin: 0 1rem;

            &:hover {
                color: darken($textcolor-primary, 10%);
            }
        }
    }
}