@import "base/reset";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "components/buttons";
@import "components/forms";
@import "layout/header";
@import "layout/footer";


html, body {
    font-size: 14px;
    color: $textcolor-primary;
    font-family: $font-primary;
    max-width: 100%;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer/Edge */

        &::-webkit-scrollbar {
            display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
        }
}

@media (min-width: 768px) {
    html, body {
        scrollbar-width: auto;
        -ms-overflow-style: auto;
        scrollbar-color: #888 #e5e5e5;

            &::-webkit-scrollbar {
                display: block
            }
    }
}

#app {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    color: $textcolor-accent;

    .page-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    #recipes {
        @include flex-direction-column;
        width: 100%;

        #recipe-container {
            @include flex-direction-column;
            width: 100%;

            .recipe-card {
                @include flex-direction-column;
                max-width: 100%;
                border: 1px solid $textcolor-accent;
                margin: 1rem 0;
                padding: 0.5rem 0.5rem;

                div {
                    @include flex-direction-column;
                    width: 100%;
                    position: relative;

                    img{
                        max-width: 100%;
                        height: auto;
                    }

                    h2 {
                        margin: 1rem auto;
                        cursor: pointer;

                        &:hover {
                            color: darken($textcolor-primary, 10%);
                        }
                    }

                    .fav-btn {
                        position: absolute;
                        left: 0.5rem;
                        bottom: 0.5rem;
                    }
                    .delete-btn {
                        position: absolute;
                        right: 0.5rem;
                        bottom: 0.5rem;
                    }
                    .fav-btn, .delete-btn {
                        cursor: pointer;
                        font-size: 1.5rem;
                        color: $textcolor-accent;
                    }


                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    .pagination-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 0.5rem;
        justify-content: left;

        .page-btn {
            background-color: $textcolor-accent;
            color: $textcolor-primary;
            border: none;
            margin: 5px 5px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.5rem;
            

            &:hover {
                background-color: darken($textcolor-accent, 10%);
            }

            &:focus,
            &:focus-visible {
                background-color: darken($textcolor-accent, 15%);
                outline: none;
            }
            &.active {
                background-color: darken($textcolor-accent, 20%);
            }
        }
    }

    .user-profile {
        @include flex-direction-column;
        width: 100%;
        padding: 0 1rem;
        font-size: 1.5rem;

        #profile-foto {
            @include flex-direction-column;
            width: 100%;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
                height: auto;
            }
        }
    }

    .settings-container {
        @include flex-direction-column;
        width: 100%;
        padding: 0 1rem;
        font-size: 1.5rem;

        button {
            @extend .mainbutton;
            width: 100%;
            margin: 0.5rem 0;
        }

        form {
            margin: 1rem 0;
            font-size: 1.5rem;
            width: 100%;

            select {
                font-size: 1.5rem;
            }
        }
    }
}