@use "sass:color";
@use "./variables" as *;

@mixin flex-direction-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mainbutton {
    background-color: $textcolor-accent;
    color: rgb(32, 1, 1);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40vw;

    &:hover {
        background-color: color.scale($textcolor-accent, $lightness: -10%);
    }
}
