@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-theme="light"] body {
    background-color: $bg-light;
}


[data-theme="dark"] body {
    background-color: $bg-dark;
}
