.mainbutton {
    background-color: $textcolor-accent;
    color: rgb(32, 1, 1);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 30vw;

    &:hover {
        background-color: darken($textcolor-accent, 10%);
    }
}